/build
/.vs
/out

src/firmware/.vs
src/firmware/__vm
src/firmware/Debug
src/firmware/Release
src/firmware/*.filters
src/firmware/*.sln
src/firmware/*.user
src/firmware/*.vcxproj

src/firmware_stm32/.vs
src/firmware_stm32/.visualgdb
src/firmware_stm32/build

CMakeLists.txt.user
CMakeSettings.json