/build
/.vs
/out

src/firmware/.vs
src/firmware/__vm
src/firmware/Debug
src/firmware/Release
src/firmware/*.filters
src/firmware/*.sln
src/firmware/*.user
src/firmware/*.vcxproj

CMakeLists.txt.user
CMakeSettings.json